*/Thumbs.db
Textures/ColonyLeadership/TeachingBubbles/Thumbs.db
Textures/ColonyLeadership/Thumbs.db
Source/Nandonalt_ColonyLeadership/.vs/Nandonalt_ColonyLeadership/DesignTimeBuild/.dtbcache
Source/Nandonalt_ColonyLeadership/.vs/Nandonalt_ColonyLeadership/v15/.suo
**/dlSpy

